@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}



header 
{
    position: absolute;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}



header p 
{
    position: absolute;
    font-size: 1.2em;
    color: #222;
    font-family: 'Kanit', sans-serif;
}




@media only screen and (max-width: 2770px)
{


.venom
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.venom h1
{
    position: absolute;
    font-size: 2em;
    color: #fff;
    margin-top: 3rem;
    padding: 15px;
}



.venom img 
{
    position: absolute;
    width: 240px;
    margin-top: 15rem;
}


.venom .mes 
{
    position: absolute;
    width: 325px;
    height: 180px;
    display: flex;
    justify-content: center;
    background: #fff;
    margin-top: 25rem;
    border-radius: 15px;
}




.venom .mes h3
{
    position: absolute;
    font-size: 1em;
    color: #222;
    margin-top: 1.5rem;
}




.venom .mes h4
{
    position: absolute;
    font-size: 1.1em;
    color: #f00;
    margin-top: 3rem;
}


.venom .mes #demo 
{
    position: absolute;
    font-size: 1.4em;
    color: #299fd7;
    margin-top: 5.5rem;
}



.venom .mes h5
{
    position: absolute;
    font-size: 2em;
    color: #f00;
    margin-top: 7.7rem;
}



.venom a 
{
    position: absolute;
    padding: 13px 65px;
    background: #fff;
    color: #222;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 40rem;
    transition: 0.2s;
}






.venom .loader
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); 
}



.venom .loader #load {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}



#load:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}


#load:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}



@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}




/********About*********/



.about 
{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); 
}



.about h1
{
    position: absolute;
    font-size: 1.8em;
    color: #fff;
    margin-top: 1rem;
}




.about h2
{
    position: absolute;
    font-size: 1.4em;
    color: #fff;
    margin-top: 4rem;
}



.about .memb
{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}


.about .memb .box 
{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: #fff;
    border-radius: 14px;
    margin: 1.2rem;
}




.about h3
{
    position: absolute;
    font-size: 1.2em;
    color: #fff;
    margin-top: 16rem;
}



.about .box2
{
    position: absolute;
    width: 290px;
    height: 250px;
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.3);
    border-radius: 15px;
    margin-top: 22rem;
}




.about .box2 img 
{
    position: absolute;
    width: 120px;
    margin-top: 1rem;
}




.about .box2 a 
{
    position: absolute;
    padding: 10px 35px;
    background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F37335, #FDC830);
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 12rem;
    transition: 0.2s;
}



.about .foter 
{
    position: absolute;
    font-size: 0.8em;
    color: rgba(255,255,255,0.7);
    margin-top: 42rem;
}















}